/*
 * Esye-UI
 * button.
 */

.ui.button{
    background: var(--gray);
    border:none;
    border-radius: 0.25em;
    color:var(--darkGray);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    min-height: 1rem;
    padding: 0.75em 1.5em;
    transition: 0.3s all;
}

.ui.button.compact{
    padding: 0.55em 0.75em;
}

.ui.button:disabled{
    opacity: 0.65;
}

.ui.button:not(:disabled):hover,
.ui.button:not(:disabled):focus{
    background: #CACBCD;
}

.ui.button.primary{
    background: var(--blue);
    color:var(--white);
}

.ui.button.primary:not(:disabled):hover,
.ui.button.primary:not(:disabled):focus{
    background: #1678C2;
}

.ui.button.secondary{
    background: var(--black);
    color:var(--white);
}

.ui.button.secondary:not(:disabled):hover,
.ui.button.secondary:not(:disabled):focus{
    background: #27292A;
}

.ui.button.border{
    background: transparent;
    border:2px solid var(--gray);
    color:var(--darkGray);
    padding: calc(0.75em - 2px) 1.5em;
}

.ui.button.border:not(:disabled):hover,
.ui.button.border:not(:disabled):focus{
    border-color: var(--darkGray);
    background: transparent;
    color: var(--black);
}

.ui.button.basic{
    font-weight: normal;
    background: transparent;
    border:1px solid var(--gray);
    color:var(--darkGray);
    padding: calc(0.75em - 1px) 1.5em;
}

.ui.button.basic:not(:disabled):hover,
.ui.button.basic:not(:disabled):focus{
    border-color: var(--darkGray);
    background: transparent;
    color: var(--black);
}
